#css-zen-garden{
    display: grid;
    grid-template-areas: 
    'header header header'
    'aside main main'
    'footer footer footer';
}

body {
    background-image: url("Photos/pines.png");
    background-size: contain;
    background-color: black;
    text-align: center;
    color:white;
}

h1::before {
    content: "~ ";
}


h1 {
    grid-area: header;
    width: 100%;
    margin: auto;
    text-align: center;
}

h1::after {
    content: " ~";
}

h2::first-letter {
    font-size: 1.5em;
    color: orange;
}

h3::first-letter {
    font-size: 1.5em;
    color: aqua;
}

#zen-supporting {
    grid-area: main;
}

.sidebar {
    grid-area: aside;
}

/* #css-zen-garden::before {
    display: grid;
    grid-template-areas: 
    'header header header'
    'aside main main'
    'footer footer footer';
} */

footer {
    grid-area: footer;
    border-top-style: dashed;
    max-width: 100%;
    justify-content: space-around;
}